@media screen and (max-width:576px) {

    .nav-container,
    .nav-items,
    .main-frist-container,
   .main-middle-container,
    .main-container-3 {
        flex-direction: column;
    }

    .nav-items a {
        margin-bottom: 25px;
    }

    .nav-icon {
        display: block;

    }

    .main-frist-container {
        flex-direction: column-reverse;
    }

    .main-frist-image {
        width: 100%;
    }

    .main-frist-contant {
        width: 100%;
        text-align: center;
    }

    .main-3-contant {
        width: 100%;
        text-align: center;
    }

    .main-3-image {
        width: 80%;
    }

    .picture {
        width: 50%;
        position: relative;
        top: -130px;
        left: -50px;
    }
    .main-middle-container{
        width: 80%;
   
    }
 
    .main-middle-content .main-middle-header{
        font-size: 35px;
    }
    .main-middle-container .box-under-text{
        width: 60%;
        margin: 1 auto;
      
    }
    .main-last-container{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        font-size: 12px;
    }
    .main-last-icon{
        gap: 5px;
        width: 80%;
    }
    .last-icon span{
       
        font-weight: 600;
     
    }
    .last-icon img{
        width: 30px;
    }
    .last-icon{
        margin: 0 15px 15px 0;
    }
    .last-icon:hover{
        padding: 2px 5px;
    }
    .footer-container{
        width: 80%;
    }
    .footer-text{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .footer-content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        text-align: center;
        text-decoration: ;
    }
    .footer-last-paragraph{
      
    }
}