/* Mobile-view section area */

@media screen and (max-width:576px) {

    .nav-container,
    .nav-items,
    .main-frist-container,
    .main-middle-container,
    .main-container-3 {
        flex-direction: column;
    }

    .nav-container {
        width: 80%;
    }

    .nav-logo img {
        width: 40%;
    }

    .nav-logo,
    .nav-paragraph {

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-items a {
        margin-bottom: 25px;
    }

    .nav-icon {
        display: block;
    }

    .main-frist-container {
        flex-direction: column-reverse;
    }

    .main-frist-image {
        width: 100%;
    }

    .main-frist-contant {
        width: 100%;
        text-align: center;
    }

    .main-frist-contant,
    .main-frist-header-2 {
        font-size: 75px;
        font-weight: b;
    }

    .main-3-contant {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .main-3-contant h2 {
        font-size: 35px;
    }

    .main-3-contant P {
        text-align: center;
        margin-left: 0px;

    }

    .main-3-image {
        width: 80%;
    }

    .picture {
        width: 50%;
        position: relative;
        top: -110px;
        left: -50px;
    }

    .main-middle-container {
        width: 80%;

    }

    .box-under-text p {
        width: 250px;
    }

    .middle-paragraph {
        font-size: 12px;
        text-align: center;
    }

    .main-middle-content .main-middle-header {
        font-size: 26px;
    }

    .main-middle-container .box-under-text {
        width: 100%;
        margin: 1 auto;
    }

    .main-last-container {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-size: 12px;
    }

    .main-last-icon {
        gap: 5px;
        width: 80%;
    }

    .last-icon span {
        font-weight: 600;
    }

    .last-icon img {
        width: 30px;
    }

    .last-icon {
        margin: 0 15px 15px 0;
    }

    .last-icon:hover {
        padding: 2px 5px;
    }
    .footer-container {
        width: 80%;
        margin: 0 auto;
        padding: 15px;
    }

    .footer-text {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
        text-decoration: ;
    }

    .footer-icon {
        font-size: 35px;
    }

}

/* tab view responsive section */

@media screen and (min-width:576px) and (max-width:960px) {

    .nav-container,
    .main-frist-container,
    .main-container-3 {
        flex-direction: column;
    }

    .nav-items a {
        gap: 20px;
    }

    .nav-icon {
        display: inline-block;

    }

    .main-frist-container {
        width: 80%;

    }

    .main-frist-header-2 {
        font-size: 75px;
    }

    .main-frist-contant {
        text-align: center;
    }


    .main-middle-container {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .main-3-contant {
        width: 80%;
        text-align: center;
        margin-bottom: 20px;
    }

    .main-3-contant p {
        width: 440px;
    }

    .main-3-image {
        width: 80%;
        margin-top: 0;
    }

    .picture {
        width: 50%;
        position: relative;
        top: -200px;
        left: -100px;
    }

    .main-last-container {
        width: 80%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-size: 12px;
    }

    .main-last-icon {
        gap: 12px;
        width: 80%;
    }

    .last-icon span {
        font-size: 17px;
        font-weight: 600;
    }

    .last-icon img {
        width: 40px;
    }

    .last-icon {
        margin: 0 90px 20px 0;
    }

    .last-icon:hover {
        padding: 5px 8px;
    }
}