/* header-section-style */
.nav-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-logo {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-span {
    color: #FF42A5;
}

.nav-paragraph {
    font-size: 40px;
    font-weight: 700;
}

.nav-items {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

.nav-items a {
    text-decoration: none;
}

.nav-icon {
    display: flex;
    gap: 10px;
    border-radius: 6px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;
}

/* header section end */
.main-frist-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.main-frist-contant {
    width: 50%;

}

.main-frist-header {
    font-size: 45px;
    font-size: 600;

}

.main-frist-header-2 {
    font-size: 95px;
    font-weight: 800;
    margin: 0;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-frist-paragraph {
    font-size: 20px;
    font-weight: 500;
}

.btn {
    padding: 15px 22px;
    border-radius: 48px;
    border: none;
    margin-right: 20px;
}

.btn1 {
    background-color: #FF42A5;
}

.btn2 {
    background-color: #4EC5F7;
}

.main-frist-image {
    width: 50%;
}

.main-frist-image img {
    width: 100%;
}

/* main-frist-section-end */
.main-middle-container {
   
    width: 80%;
    margin: 0 auto;
}
.main-middle-contant{
text-align: center;

}
.middle-span {
    color: #FF42A5;
}

.main-middle-title {
    font-size: 48px;
    margin-bottom: 0;
}

.main-middle-paragraph {
    margin-bottom: 40px;
}

.box-container {
    display: flex;

}

.box-text {
    display: block;
    text-align: left;
}

.box {
    width: 240px;
    height: 250px;
    margin-left: 0;
    display: flex;
    gap: 10px;
    align-items: flex-end;
  
}
.box1{
    width: 100%;
}

.box img {
    width: 100%;
}

/* stop */

.main-container-3{
    margin: 50px auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.main-3-contant{
    width: 30%;
    text-align: right;
    margin-right: ;
}
.main-3-contant h2{
    font-size: 48px;
    font-weight: bold;
}
.main-3-contant p{
    width: 300px;
}
.main-3-image{
    width: 50%;
}
.main-3-image img{
    width: 100%;
}
.picture{
    width: 40%;
    position: relative;
    top:-200px;
    left:-80px;
}
