/* header-section-style */
.nav-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-logo {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-span {
    color: #FF42A5;
}

.nav-paragraph {
    font-size: 40px;
    font-weight: 700;
    color: #534C64;
}

.nav-items {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

.nav-items a {
    text-decoration: none;
}

.nav-icon {
    display: flex;
    gap: 10px;
    border-radius: 6px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px;
}

/* header section end */
.main-frist-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.main-frist-contant {
    width: 50%;

}

.main-frist-header {
    font-size: 45px;
    font-size: 600;

}

.main-frist-header-2 {
    font-size: 95px;
    font-weight: 800;
    margin: 0;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-frist-paragraph {
    font-size: 20px;
    font-weight: 500;
    color: #534C64;
}

.btn {
    padding: 15px 22px;
    border-radius: 48px;
    border: none;
    margin-right: 20px;
}

.btn1 {
    background-color: #FF42A5;
}

.btn2 {
    background-color: #4EC5F7;
}

.main-frist-image {
    width: 50%;
}

.main-frist-image img {
    width: 100%;
}

/* main-frist-section-end */
.main-middle-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
    gap: 50px;
}

.main-middle-content {
    text-align: center;
    margin-bottom: 50px;
}

.main-middle-content .main-middle-header {
    font-size: 40px;
    font-weight: 600;
}

.main-middle-content span {
    color: #F948B2;
}

.box1 {
    width: 210px;
    height: 250px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    position: relative;

}

.box-img {
    width: 250px;
    height: 250px;

}

.box-under-text {
    display: inline-block;
    text-align: left;
    font-size: 16px;
    width: 200px;
}

.box1:hover .overlay {


    border: 4px solid #F948B2;
    border-radius: 8px;
    background-image: url("../images/download.png"), linear-gradient(0 0 0 0.6);
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;

}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: transparent;
}

.text {
    color: #F948B2;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay-image {
    width: 30px;
    height: 30px;
    margin-top: 80px;
    border-radius: 50%;
}

/* stop */

.main-container-3 {
    margin: 50px auto 0;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.main-3-contant {
    width: 30%;
    text-align: right;
    margin-bottom: 200px;
}

.main-3-contant h2 {
    font-size: 48px;
    font-weight: bold;
}

.middle-span {
    color: #F948B2;
}

.main-3-contant p {
    width: 300px;
    color: #534C64;
}

.main-3-image {
    width: 50%;
}

.main-3-image img {
    width: 100%;


}

.picture {
    width: 40%;
    position: relative;
    top: -200px;
    left: -80px;
}

/* <!-- main-3-section-complete --> */

/* <!-- main-lat-section-start --> */
.main-last-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}

.main-last-icon {
    display: flex;
    align-items: center;
    gap: 15px;
}

.last-icon {
    margin: 0 15px 20px 0;
}

.last-icon:hover {
    border: 2px solid #FF42A5;
    border-radius: 40px;
    color: #FF42A5;
    padding: 10px 15px;
}

/* main-last-section finish */
footer {
    background-color: #0B0223;
}

.footer-container {
    width: 80%;
    margin: 20px auto;
    padding: 50px;

}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.footer-paragraph {
    color: #fff;
    font-size: 30px;
}

.footer-text {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 20px;
}

.footer-text p {
    color: #fff;
}

.footer-icon {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    font-size: 50px;

}

.footer-content {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgba(255, 255, 255, 0.60);
    ;
}

.footer-last-paragraph {
    color: rgba(255, 255, 255, 0.60);
    ;
    font-size: 16px;
    text-align: center;
}

/* footer-section end */
.saikat {
    display: none;
}